@model IList<Product>
@{
    ViewData["Title"] = "Index";
}

<h2>All Products</h2>

<div id="card-page">

    @{
        ViewData["Action"] = "Index";
        ViewData["Controller"] = "Products";
    }
    <partial name="_Filters" />

    <div class="main-content">

        <!-- Container for Sorting Choices
            Each link should take the user to this current page and use any combination of the following
            querystring parameters to sort the page:
            - sortOrder (string) - PriceLowToHigh,PriceHighToLow,RatingHighToLow
        -->
        <div id="sorting-options">
            <h3>Sort By</h3>
            <ul>
                <li><a asp-controller="@ViewData["Controller"]" asp-action="@ViewData["Action"]" asp-route-sortOrder="PriceLowToHigh">Price - Low to High</a></li>
                <li><a asp-controller="@ViewData["Controller"]" asp-action="@ViewData["Action"]" asp-route-sortOrder="PriceHighToLow">Price - High to Low</a></li>
                <li><a asp-controller="@ViewData["Controller"]" asp-action="@ViewData["Action"]" asp-route-sortOrder="RatingHighToLow">Rating - High to Low</a></li>
            </ul>
        </div>

        <!-- Container for all of the Products -->
        <div id="grid">
            <!-- The following HTML shows different examples of what HTML
         could be rendered based on different rules. For purposes
         of demonstration we've written it out so you can see it
         when you load the page up. -->
            <!-- Standard Product (assuming no special cases) -->
            
            @foreach (Product product in Model)
            {
                string v = "tile";

                if (product.RemainingStock == 0)
                {
                    v += " sold-out";

                }
            <div class="@v">
                @if (product.RemainingStock == 0)
                {
                    <span class="banner">Sold Out</span>
                }
                else if (product.IsTopSeller)
                {
                    <span class="banner top-seller">Top Seller!</span>
                }
                <!-- Link to the Detail page using the product id (e.g. Products/Detail/1) -->
                <a class="product-image" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">
                    <img src="~/images/product-images/@product.ImageName" />
                </a>
                <div class="details">
                    <p class="name">@product.Name</p>

                    <!-- .filled will make the star solid -->
                    <div class="rating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (product.AverageRating >= i)
                            {
                                <span class="filled">&#9734;</span>
                            }
                            else
                            {
                                <span>&#9734;</span>
                            }
                        }
                    </div>
                   s

                    <p class="price">@($"{product.Price:C}")</p>
                </div>
            </div>
            }
            </div>
    </div>
</div>