@model IList<Product>
@{
    ViewData["Title"] = "Tile";
}
<h2>All Products</h2>

<div id="masonry-page">

    @{
        ViewData["Action"] = "Tile";
        ViewData["Controller"] = "Products";
    }
    <partial name="_Filters" />

    <!-- Container for all of the Products -->
    <div id="grid" class="main-content">

        <!-- The following HTML shows different examples of what HTML 
                could be rendered based on different rules. For purposes
                of demonstration we've written it out so you can see it
                when you load the page up. -->

        <!-- Standard Product -->
        @foreach (Product product in Model)
        {
            string v = "tile";

            if (product.RemainingStock == 0)
            {
                v += " sold-out";

            }
            if (product.IsTopSeller)
            {
                v += " top-seller";
            }
        <div class="@v">
            @if (product.RemainingStock == 0)
            {
                <span class="banner">Sold Out</span>
            }
            <!-- Link to the Detail page using the product id (e.g. Products/Detail/1) -->
            <a class="product-image" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">
                <img src="/images/product-images/@product.ImageName" />
            </a>
            <div class="details">
                <p class="name">@product.Name</p>

                <!-- .filled will make the star solid -->
                <div class="rating">
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (product.AverageRating >= i)
                        {
                            <span class="filled">&#9734;</span>
                        }
                        else
                        {
                            <span>&#9734;</span>
                        }
                    }
                </div>
                @if (product.IsTopSeller)
                {
                    <br />
                    <p class="product-alert">Top Seller</p>
                }
                @if (product.RemainingStock > 0 && product.RemainingStock <= 5)
                {
                    <p class="product-alert">@product.RemainingStock remaining!</p>
                }
                <p class="price">@($"{product.Price:C}")</p>
            </div>
        </div>
        }
      
    </div>
</div>