@model IList<Recipe>
@{
    ViewData["Title"] = "Home Page";
}
@*<div class="text-center">*@
<div>
    <h1>Recipes</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Meal</th>
                <th>Cuisine</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Recipe recipe in Model)
            {
                <tr>
                    <td><a asp-action="Detail" asp-controller="Recipe" asp-route-id="@recipe.Id">@recipe.Id</a></td>
                    <td><a asp-action="Detail" asp-controller="Recipe" asp-route-id="@recipe.Id">@recipe.Name</a></td>
                    <td>@recipe.Meal</td>
                    <td>@recipe.Cuisine</td>
                </tr>
            }
        </tbody>
    </table>
</div>
