@model IList<Film>
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Release Year</td>
                <td>Length</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Film film in Model)
            {
                <tr>
                    <td>@film.Title</td>
                    <td>@film.Description</td>
                    <td>@film.ReleaseYear</td>
                    <td>@film.Length</td>
                    <td>@film.Rating</td>
                </tr>
            }
        </tbody>
    </table>
