@model  IList<City>
@{
    ViewData["Title"] = "Index";
}
<h2>All Cities</h2>
<h3><a asp-controller="City" asp-action="Search">Search for a City</a></h3>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>District</td>
            <td>Country</td>
            <td class="right-justified">Population</td>
        </tr>
    </thead>
    <tbody>
        @foreach (City city in Model)
        {
        <tr>
            <td>@city.CityId</td>
            <td>@city.Name</td>
            <td>@city.District</td>
            <td>@city.CountryName</td>
            <td class="right-justified">@($"{city.Population:N0}")</td>
        </tr>
        }
    </tbody>
</table>
