@model IList<Review>
@{
    ViewData["Title"] = "SaveNewReview";
}
<div class="container">
    <h2>Past Reviews</h2>

    <table class="table table-striped">
        <tbody>
            @foreach (Review review in Model)
            {
                <tr>
                    <td>
                        @review.ReviewTitle @review.Rating <br />
                        by @review.Username on @($"{review.ReviewDate:d}")<br />
                       
                        <p>@review.ReviewText</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3><a asp-controller="Home" asp-action="NewReview">Submit a new review</a></h3>
</div>

